
/*Backgrond of site*/
body {

    margin-bottom: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1920px 1080px;
    
}


/*HEADERS:*/

#PageHeader{
 
    background-color: dodgerblue;
    width:100%;
    height: 12rem;   

}

h1, h2 {
    
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 5rem;

}

h1{
    font-size: 70px;
}

h2 {
    margin-bottom: 4rem;
}

h4{

    margin-top: 2rem;
    color:dodgerblue;

}

/*General format for the list items*/
li {

    list-style: none;
    border: 1px solid black;
    padding: 20px 20px;
    margin-left: -20px;
    margin-top: 15px;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 6px;

}
/* Darker background-color on hover */
ul li:hover  {
    background:dodgerblue;
    color:white;
    -webkit-animation-duration: 0.2s;
    transition-duration: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

/*Links*/

a:hover {
    color: white;
}


 #submitButton, #AddProjectButton, #BackButton, #FilterButton {

    background-color: lightgrey;
    color: dodgerblue;
    position: relative; 
    border-radius: 6px;
 

}

#AddProjectButton, #BackButton {
    float:right;
    margin-top: 4rem;
    margin-right:3rem;
    font-size:23px;
}

/*hover of all buttons*/
#BackButton:hover, #submitButton:hover, #AddProjectButton:hover, #FilterButton:hover {
    background: lightgreen;
    color: white;
}

 #submitButton {

    font-size: 25px;
    width: 240px;
    height: 70px;
    margin-left: 40%;
    margin-top: 2rem;

} 

#FilterButton {

    font-size: 25px;
    width: 240px;
    height: 50px;
    align-content: right;
    margin-left: 55rem;
}

.FilterButton {

    margin-bottom: 3rem;

}

#TTLogo{

    float:left;
    height: 20%;
    width: 20%;
    padding: 2rem;

}



/*Search Box*/
#searchInput {

    background-image: url('/icons/searchIconGrey.png'); /* Add a search icon to input */
    background-position: 9px 9px; /* Position the search icon */
    background-size: 20px 20px; 
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 3rem; /* Add some space below the input */
    margin-top: 3rem;
}

#listContainer {

    margin-top: 3rem;
    background-color: rgba(255,255,255,.8);

}


#project-form{

    margin-top: 3rem;

}

#WholeForm {

    background-color: white;

}

.input-group-field {

    margin-top: 40px;

}

#fileUploader {
    margin-top:5rem;
}



/*SIDEBAR  */
/*src=https://www.w3schools.com/howto/howto_js_sidenav.asp  */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}