h1 {

    margin-top: 50px;
    margin-bottom: 30px;
    color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    float: left;

}

/*General format for the list items*/
li {

    list-style: none;
    border: 1px solid black;
    padding: 20px 20px;
    margin-left: -20px;
    margin-top: 15px;
    background-color: white;
    height: auto;
    width: auto;

}

/*General format for the delete/fav buttons*/
.deleteButton, .favButton, .downButton, .upButton {

    float: right;
    margin-right: 10px;
    margin-bottom: 50px;

}

/* Darker background-color on hover */
ul li:hover {
    background:dodgerblue;
}

/*General bg color*/
body {

    /* background: url("razer_chroma_wallpaper.png"); */
    background-size: cover;
    background-repeat: no-repeat;

}

.wrapper{

    text-align: center;

}

/*success button colors*/
.button {

    background-color: lightgrey;
    color: dodgerblue;
    width: 10rem;
    position: relative;
    top: 4rem;
    float: right;   

}

.button:hover {
    background:dodgerblue;
}

#searchInput {

    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png'); /* Add a search icon to input */
    background-position: 9px 9px; /* Position the search icon */
    background-size: 20px 20px; 
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.input-group-field {

    margin-bottom: 20px;

}