.ProjectInfo {

    text-align: left;
    margin-left: 10rem;
    margin-top: 3rem;

}

p {

    margin-left: 1rem;
    margin-top: 2rem;
    width: 50rem;

}

h1, h2 {
    
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 5rem;

}

h1{
    font-size: 70px;
}

h2 {
    margin-bottom: 4rem;
}

h4{

    margin-top: 2rem;
    color:dodgerblue;

}

