.ProjectInfo {
    text-align: left;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 5rem; 
    border: 2px solid dodgerblue;
    border-radius: 5px;
    background-color:rgba(214, 214, 194,0.15);
}

p {

    margin-left: 3.5rem;
    margin-top: .5rem;
    margin-bottom: .3rem; 
    width: 50rem;
    font-family: Tahoma, Geneva, sans-serif;

}

h1, h2 {
    
    color: white;
    font-family: 'Open Sans Condensed', sans-serif; 
    margin-left: 5rem;

}

h1{
    font-size: 70px;
}

h2 {
    margin-bottom: 4rem;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2rem;
    margin-left: 2rem;
    color: black;
    text-decoration: underline;

}

#projectTitle{
    font-family: 'Ariel Black';
    margin-left: 3.5rem;
}
